{% extends 'base.html' %}

{% block content %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
{% if object %}
<h1>Edit <span class="blue-text">{{object.title}}</span></h1>
{% else %}
<h1>Add Spot</h1>
{% endif %}
<form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
        <!-- Render the inputs inside of <tr>s & <td>s -->
        {{ form.as_table }}
    </table>

    {% if object %}
    {% else %}
    <div id="result">
        <!--Position information will be inserted here-->
    </div>
    {% endif %}

    <input type="submit" value="Submit!" class="btn blue darken-4">

</form>

<script>
    let x = document.getElementById("demo");

    // grab element for long and lat
    let longitude = document.getElementById('id_longitude')
    let latitude = document.getElementById('id_latitude')

    function getLocation() {
        // Store the element where the page displays the result
        result = document.getElementById("result");

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showMap);
            result.innerHTML = "Getting your position information, please wait...";
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    // Define callback function for successful attempt
    function showMap(position) {
        // Get location data
        lat = position.coords.latitude;
        long = position.coords.longitude;

        longitude.setAttribute('value', long)
        latitude.setAttribute('value', lat)

        result.innerHTML = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
    }

    document.body.onload = function () {
        getLocation();
    };
</script>
{% endblock %}