{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MySpots</title>

    <!-- stylesheet link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- nav script -->
    <script defer src="{% static 'scripts/nav.js' %}"></script>

</head>

<body>
    <nav>
        <div class="logo">
            <a class="logo" href="{% url 'home' %}">
                <h4>MySpots</h4>
            </a>
        </div>
        <ul class="nav-links">
            {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">View MySpots</a></li>
            <li><a href="{% url 'map' %}">Map View</a></li>
            <li><a href="{% url 'spots_create' %}">Add Spot</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>