{% extends 'base.html' %}
{% block content %}

<div class="landing">
    <img src="https://static3.depositphotos.com/1000955/129/i/600/depositphotos_1295818-stock-photo-earth.jpg"
        alt="img of world">

    <a href="{% url 'about' %}">
        <button class="signup button" type="button">Signup</button>
    </a>

    <a href="{% url 'about' %}">
        <button class="login button" type="button">Login</button>
    </a>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi quos, dolorem id repellat dolore ut
        ad rem quisquam ipsam delectus. Eos in qui vitae eaque cumque pariatur inventore facilis.</p>
</div>


{% endblock %}