@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #212121;
    color: white;
    font-family: 'Cabin', sans-serif;
}

main {
    flex: 1 0 auto;
    background-color: #212121;
} 

/*landing page styles*/
.landing { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1511068797325-6083f0f872b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    width: 100%;
    height: 790px;
    background-size: cover;
}

.login-btn, .signup-btn {
    width: 20vh;
    height: 5vh;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
}

/* login form styles*/
/* .login-form input {
    color: white;
} */

/* signup form styles*/
/* .signup-form input {
    color: white;
} */
form input {
    color: white;
}

textarea{
    color:white
}

footer {
    padding-top: 0;
    text-align: center;
}